.container {
  width: 100%;
  min-width: 300px;
  /* width: 100vw; */
}

.sort_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid darkgray;
  border-bottom: 1px solid darkgray;
  padding-right: 1rem;
  position: relative;
}

.search__container {
  display: flex;
  align-items: center;
}

.sort_section .search_bar {
  font-size: 1rem;
  line-height: 2rem;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid darkgray;
  margin: 20px;
  width: max(20vw, 200px);
}

.search_button,
.sort_button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: rgb(189, 225, 240);
  transition: background-color 0.3s;
}

.search_button:hover,
.sort_button:hover {
  background-color: #66a395;
}

.filter_button {
  background-color: transparent;
  width: 30px;
  border: none;
  display: grid;
  place-items: center;
  position: relative;
}

.filter_icons {
  width: 90%;
}

.filter_underline {
  height: 2px;
  margin-top: 5px;
  background-color: black;
  position: absolute;
  top: 100%;
  left: 0;
}

.products_grid {
  flex-grow: 1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--product-width), 1fr));
  row-gap: 30px;
  justify-items: center;
  padding: 1rem 0 1rem 0;
  border-bottom: 1px solid darkgray;
  min-height: calc(var(--product-width) * 5 / 4);
}

.pagination {
  height: 3rem;
  width: min(100px);
  margin: 1rem auto;
  text-align: center;
}

@media screen and (max-width: 800px) {
  .sort_section,
  .search__container {
    flex-direction: column;
    /* padding: 1rem; */
    padding-bottom: 1rem;
  }

  .filter_icons {
    display: none;
  }
}
