.nav_container {
  width: 100%;
  min-width: var(--min-app-width);
}

.nav_container,
.navbar_links,
.nav_end_links {
  display: flex;
  align-items: center;
}

.logo {
  min-width: 50px;
  width: 15vw;
  max-width: 200px;
}

.navbar_link_container {
  position: relative;
}

.navbar_link {
  margin: 30px;
  list-style-type: none;
  text-decoration: none;
  color: black;
  z-index: 1;
}

.navbar_link_container svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 5rem;
  stroke-width: 2;
  z-index: -1;
}

.nav_end_links {
  gap: 30px;
  position: relative;
}

.cart {
  width: 20px;
  stroke-width: 2;
}

.cart_link {
  position: relative;
}

.cart_link span {
  display: inline-block;
  font-size: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: red;
  position: absolute;
  top: -10px;
  right: -10px;
}

.checkout {
  width: 30px;
  stroke-width: 3;
}

.nav_container {
  padding: 1vw;
  justify-content: space-between;
  height: var(--navbar-height);
  width: 100vw;
  max-width: 100%;
  min-width: 400px;
}

.hamburger_menu {
  transform: scale(0.5);
}

.hamburger_menu line {
  display: none;
}

.drop_down_menu {
  background-color: rgb(145, 177, 205);
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  right: 30px;
  padding: 1rem;
}

.drop_down_menu a {
  margin-bottom: 5px;
  white-space: nowrap;
}

@media screen and (max-width: 767px) {
  .hamburger_menu {
    margin: 0 1rem;
  }
  .hamburger_menu line {
    display: block;
  }
  .navbar_links,
  .admin_link {
    display: none;
  }
}
