.our_story_container {
  margin-top: 5vh;
  padding: 2rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.our_story_heading {
  font-size: clamp(3rem, 1rem + 12vw, 12rem);
  align-self: flex-start;
}

.our_story_paragraph {
  font-size: clamp(0.5rem, 0.5rem + 1vw, 2rem);
  width: clamp(300px, 40%, 800px);
}

.baby_svg {
  width: clamp(350px, 60%, 80%);

  position: absolute;
  bottom: 0;
  left: 0;
}

.svg_right {
  width: clamp(100px, 30%, 300px);

  position: absolute;
  top: 100%;
  right: -10px;
}

@media (max-width: 800px) {
  .our_story_container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
  }

  .our_story_heading {
    align-self: center;
  }

  .our_story_paragraph {
    width: clamp(300px, 80%, 800px);
  }
}
