.faqs_container {
  margin-top: 20vh;
}

.faq_container0,
.faq_container1,
.faq_container2,
.faq_container3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 500px;
  padding: 1rem;
  position: relative;
}

.faq_container0 > h3,
.faq_container1 > h3,
.faq_container3 > h3,
.faq_container2 > h3 {
  text-align: center;
  font-size: clamp(1.5rem, 2rem + 1vw, 4rem);
}

.faq_container0 .faq_paragraph_container span {
  display: block;
}

.faq_container0 > p,
.faq_container1 > p,
.faq_container2 > p,
.faq_container3 > p {
  max-width: 400px;
  font-size: clamp(0.5rem, 0.5rem + 1vw, 2rem);
}

.faq_container0 {
  background-color: #ffdee4;
}

.faq_container1,
.faq_container3 {
  background-color: #332979;
  color: white;
}

.faq_container2 {
  background-color: #c2baba;
}
.faq_container3 {
  background-color: #9affdc;
}

@media (max-width: 800px) {
  .faq_container0,
  .faq_container1,
  .faq_container2,
  .faq_container3 {
    flex-direction: column;
  }

  .faq_container0,
  .faq_container2 {
    align-items: center;
  }

  .faq_container1,
  .faq_container3 {
    align-items: center;
  }
}
