.fields2 {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
}

.field,
textarea {
  border: 1px solid var(--color-lighter-gray);
  padding: 0.5rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.field__label {
  color: var(--color-gray);
  font-size: 0.6rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.field__input,
textarea {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
}

.field:focus-within {
  border-color: #000;
}

.field__error {
  font-size: 10px;
  color: red;
}
